{% load static %}
<div class="container-modal-info">
    <div class="pt-0 box-modal-info">
        <div class="clearfix px-4 p-0 m-0 cor_instituicao rounded-top">
            <button type="button" class="btn float-end p-0 m-0" id="btn-fechar" onclick="fechar_modal(this)"><i class="bi bi-x-lg fs-4 text-light"></i></button>
        </div>
        <div class="bg-light rounded-bottom text-center" id="info-content">
            <i class="bi bi-exclamation-triangle text-danger fs-1 w-100 p-0"></i>
            <div id="text" class="p-4 pt-0">

            </div>
        </div>
    </div>  
</div>