{% extends "base.html" %}
{% load static %}


{% block css%}
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
{% endblock %}
{% block js%}
<script src="{% static 'js/cadastro.js' %}" defer></script>
{% endblock %}
{% block title %}Cadastro de operação{% endblock %}


{% block content %}
{% include "includes/header.html" with nav_title="Numero de ocorrencia" back=True %}
<main class="container">
    <form action="" method="POST">
        {% csrf_token %}
        {% include 'includes/chefe_operacao.html' %}
        <section class="row justify-content-center">
            <div class="col-12 col-md-6 pb-5">
                <div class="form-control m-auto mt-4">
                    <div class="row">
                        <div class="col-6">
                            <label class="fs-5 w-100" for="apresentacao">Apresentação:</label>
                            <input  class="form-check-input" type="checkbox" name="apresentacao" id="apresentacao" {% if form_ocorrencia.apresentacao.value %}checked {% else %}{%endif%}>
                        </div>
                        <div class="col-6">
                            <label class="fs-5 w-100" for="fato_relevante">Fato relevante:</label>
                            <input  class="form-check-input" type="checkbox" name="fato_relevante" id="fato_relevante" {% if form_ocorrencia.fato_relevante.value %}checked {% else %}{%endif%}>
                        </div>
                    </div>
                </div>
                <label class="fs-5 mt-3 w-100" for="nro_bop">Numero:</label>
                <input  class="form-control" type="text" name="nro_bop" id="nro_bop" value="{{form_ocorrencia.nro_bop.value|default_if_none:''}}">
                
                <label class="fs-5 mt-3 w-100" for="enquadramento">Enquadramento:</label>
                <input  class="form-control" type="text" name="enquadramento" id="enquadramento" value="{{form_ocorrencia.enquadramento.value|default_if_none:''}}">
                
                {% include 'includes/pessoa.html' with prefix='pessoa2' nome='relator'%}
                {% include 'includes/pessoa.html' with prefix='pessoa1' nome='suspeito'%}
                {% comment %}
                {% include 'includes/apreensao.html'%}
                {% endcomment %}
                </div>
            </div>
        </section>
        
        {% include 'includes/pesquisa.html' %}
        {% include 'includes/option-bar.html' %}
    </form>
</main>
{% endblock %}