{% extends "base.html" %}
{% load static %}


{% block css%}
<link rel="stylesheet" href="{% static 'css/acoes.css' %}">
{% endblock %}
{% block js%}{% endblock %}
{% block title %}Cadastro de operação{% endblock %}


{% block content %}
{% include "includes/header.html" with nav_title="Cadastro de ações" back=True %}
<main class="container">
    <section class="d-flex align-items-center justify-content-center">
        <div class="row p-3" id="actions">
            {% for i in indicadores %}
                {% if i.instituicao == instituicao %}
                    <div class="border-0 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="btn btn-danger text-center d-flex align-items-center p-0 m-2" id="action">
                            <i class="bi {{i.icon}} mx-3"></i>
                            <a href="{{i.endereco}}" class="text-decoration-none text-light">{{i.indicador}}</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}