{% extends "base.html" %}
{% load static %}


{% block css%}
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
{% endblock %}
{% block js%}
<script src="{% static 'js/foto.js' %}" defer></script>
<script src="{% static 'js/cadastro.js' %}" defer></script>
{% endblock %}
{% block title %}Cadastro de operação{% endblock %}


{% block content %}
{% include "includes/header.html" with nav_title="Abordagem de pessoas" back=True %}
<main class="container">
    <form action="" method="POST">
        {% csrf_token %}
        {% include 'includes/chefe_operacao.html' %}
        <section class="row">
            <div class="col-12 col-md-6 border pb-5">
                <label class="fs-5 mt-3 w-100" for="nome_envolvido">Nome envolvido</label>
                <input onclick="abrir_pesquisa_envolvido()"  class="form-control" type="text" name="nome_envolvido" id="nome_envolvido" autocomplete="off">
                {% include 'includes/pesquisa.html' %}


                <label class="fs-5 mt-3 w-100" for="foto_abordado">Foto abordado</label>
                <div class="input-group">
                    <input disabled class="form-control" type="text" id="foto_abordado">
                    <input type="hidden" id="hiddenBase64Input" name="foto_abordado" value="">
                    <label for="fileInput" class="btn btn-camera" id="abrirCamera" type="button" ><i class="bi bi-camera-fill"></i></label>
                    <input type="file" accept="image/*" capture="camera" id="fileInput" class="d-none">
                    <img id="imagemCapturada" src="" alt="Imagem Capturada" width="50px" height = "38px" class="imagem-captura">
                </div>
                

                <label class="fs-5 mt-3 w-100" for="foto_documento">Foto documento</label>
                <div class="input-group">
                    <input disabled class="form-control" type="text" name="" id="foto_documento">
                    <input  id="imagemCapturada_src" type="hidden" name="foto_documento" src="" alt="Imagem Capturada">
                    <button class="btn btn-camera" id="abrirCamerazz" type="button" ><i class="bi bi-camera-fill"></i></button>
                    <img id="imagemCapturadazz" src="" alt="Imagem Capturada" width="50px" class="imagem-captura">
                </div>
 
                
                <label class="fs-5 mt-3 w-100" for="nro_documento">Nº do documento</label>
                <input  class="form-control" type="number" name="nro_documento" id="nro_documento">
            </div>
            <div class="col-12 col-md-6 border pb-5">
                
                
                <label class="fs-5 mt-3 w-100" for="nome_mae">Nome mãe</label>
                <input  class="form-control" type="text" name="nome_mae" id="nome_mae">
                
                <label class="fs-5 mt-3 w-100" for="data_nasc">Data de nascimento</label>
                <input  class="form-control" type="date" name="data_nasc" id="data_nasc">
            </div>            
        </section>
        {% include 'includes/option-bar.html' %}
    </form>
    
</main>
{% endblock %}