{% extends "base.html" %}
{% load static %}


{% block css%}
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
{% endblock %}
{% block js%}{% endblock %}
{% block title %}Cadastro de operação{% endblock %}


{% block content %}
{% include "includes/header.html" with nav_title="Cadastro de operação" back=True %}
<main class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <section class="row">
            <div class="col-12 col-md-6 border pb-5">
                <label class="fs-5 mt-3 w-100" for="nome_operacao">Nome da Operação</label>
                <input required class="form-control" type="text" name="nome_operacao" id="nome_operacao">
                
                <label class="fs-5 mt-3 w-100" for="data_inicio">Data de inicio</label>
                <input required class="form-control" type="datetime-local" name="data_inicio" id="data_inicio">
                
                <label class="fs-5 mt-3 w-100" for="data_fim">Data de término</label>
                <input class="form-control" type="datetime-local" name="data_fim" id="data_fim">
            </div>
            <div class="col-12 col-md-6 border pb-5">
                <label class="fs-5 mt-3 w-100" for="comandante">Comandante da Operação</label>
                <input required class="form-control" type="text" name="comandante" id="comandante">
            </div>
        </section>
        {% include 'includes/option-bar.html' %}
    </form>
</main>
{% endblock %}