{% extends "base.html" %}
{% load static %}


{% block css%}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block js%}{% endblock %}
{% block title %}Dashboard{% endblock %}


{% block content %}
{% include "includes/header.html" with nav_title="Dashboard" back=True %}
<main class="container">
    <section class="d-flex justify-content-center align-items-center">
        <img src="https://static.anychart.com/images/gallery/v8/combined-charts-column--spline-area-and-spline-chart.png" alt="chart">
    </section>
</main>
{% endblock %}