{% extends "base.html" %}
{% load static %}


{% block css%}
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
{% endblock %}
{% block js%}{% endblock %}
{% block title %}Perfil do usuário{% endblock %}


{% block content %}
{% include "includes/header.html" with nav_title="Perfil do usuário" back=True %}
<main class="container">
    <form action="" method="post">
        {% csrf_token %}
        <section class="row">
            <div class="col-12 col-md-6 border pb-5">
                <div class="campos-pessoa" id="campos_usuario">
                    <label class='fs-5 mt-3' for="id_pessoa1-nome_completo">Nome completo:</label>
                    <input type="text" name="pessoa1-nome_completo" id="id_pessoa1-nome_completo" required class="form-control">

                    <label class='fs-5 mt-3' for="id_pessoa1-data_nascimento">Data nascimento:</label>
                    <input type="date" name="pessoa1-data_nascimento" id="id_pessoa1-data_nascimento" required class="form-control">

                    <label class='fs-5 mt-3' for="id_pessoa1-genero">Genero:</label>  
                    <select name="pessoa1-genero" id="id_pessoa1-genero" required class="select-control">
                        <option value="" selected=""></option>
                        <option value="M">MASCULINO</option>
                        <option value="F">FEMININO</option>
                    </select>

                    <label class='fs-5 mt-3' for="id_pessoa1-nro_documento">Nro carteira funcional:</label>
                    <input type="number" name="pessoa1-nro_documento" id="id_pessoa1-nro_documento" required class="form-control">

                    <label class='fs-5 mt-3' for="id_pessoa1-nome_mae">Nome da mae:</label>
                    <input class='form-control' type="text" name="pessoa1-nome_mae" id="id_pessoa1-nome_mae" required class="form-control">
                </div>
            </div>
            <div class="col-12 col-md-6 border pb-5">
                <label class='fs-5 mt-3' for="id_pessoa1-nome_pai">Nome do pai:</label>
                <input class='form-control' type="text" name="pessoa1-nome_pai" id="id_pessoa1-nome_pai">

                <label class='fs-5 mt-3' for="id_pessoa1-endereco_residencial">Endereco residencial:</label>
                <input class='form-control' type="text" name="pessoa1-endereco_residencial" id="id_pessoa1-endereco_residencial">
                
                <label class="fs-5 mt-3 w-100" for="instituicao">Instituição</label>
                <input required class="form-control" type="text" name="instituicao" id="instituicao" value="{{instituicao}}" disabled>

                <label class="fs-5 mt-3 w-100" for="password">Senha</label>
                <input required class="form-control" type="password" autocomplete="current-password" name="password" id="password">

                <label class="fs-5 mt-3 w-100" for="chefe_guarnicao">Chefe de guarnição</label>
                <input class="form-check-input" type="checkbox" name="chefe_guarnicao" id="chefe_guarnicao">
            </div>
        </section>
        {% if erro %}
            {{erro}}
        {% elif sucess %}
            {{sucess}}
        {%endif%}
        {% include 'includes/option-bar.html' %}
    </form>
</main>
{% endblock %}