/* 
#1473BB - azul
#1688C9 - azul mais clarinho
#EB2939 - vermelho
#414145 - preto
#D9D9D9 -cinza  
*/


/* *{
    border: 1px solid red;
} */

header{
    background-color: #1473BB;
}

.current-page{
    font-weight: 500;
    color: white !important;
    max-width: fit-content;
}

.bi-chevron-left{
    font-size: 25px;
}