main section.row{
    height: calc(100vh - 68px - 68px);
    overflow-y: auto;
}

.btn-camera{
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-left: none;
}

#area-btns{
    height: 68px;
}

#area-btns button{
    width: 150px;
}

.imagem-captura{
    display: none;
}

.modal{
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 0.8em;
}

video{
    border-radius: 15px;
}