{% load static %}

<header class="cor_instituicao">
    <nav class="navbar navbar-dark navbar-expand-md">
        <div class="container-fluid">
            {% if back %}
            <button class="btn text-light p-0 m-0 me-3" onclick="history.back()"><i class="bi bi-chevron-left"></i></button>
            {% else %}
            {% endif %}
            <span class="navbar-brand text-center" id="nav_title">
                {{ nav_title }}
            </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarToggler">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'home' %}current-page{% endif %}" href="{% url 'home' %}" rel="noopener noreferrer">
                            <i class="bi bi-house-fill"></i> Início
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'acoes' %}current-page{% endif %}" href="{% url 'acoes' %}" rel="noopener noreferrer">
                            <i class="bi bi-bullseye"></i> Ações
                        </a>
                    </li>                                            
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'usuario' or request.resolver_match.url_name == 'cad_operacao' or request.resolver_match.url_name == 'cad_indicador'%}current-page{% endif %}" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill-gear"></i> Gerência</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                                <a href="{% url 'usuario' %}" rel="noopener noreferrer" class="text-dark text-decoration-none">
                                    <i class="bi bi-person-fill"></i> cadastrar usuário
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a href="{% url 'cad_operacao' %}" rel="noopener noreferrer" class="text-dark text-decoration-none">
                                    <i class="bi bi-cone-striped"></i> cadastrar operação
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'reg_acoes' or request.resolver_match.url_name == 'reg_operacoes' %}current-page{% endif %}" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-card-list"></i>  Registros</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                                <a class="text-dark text-decoration-none" href="{% url 'reg_acoes' %}" rel="noopener noreferrer">
                                    <i class="bi bi-bullseye"></i> Ações
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a class="text-dark text-decoration-none" href="{% url 'reg_operacoes' %}" rel="noopener noreferrer">
                                    <i class="bi bi-cone-striped"></i> Operações
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}current-page{% endif %}" href="{% url 'dashboard' %}" rel="noopener noreferrer">
                            <i class="bi bi-graph-up-arrow"></i> Dashboard
                        </a>
                    </li>                        
                </ul>
                <hr class="d-md-none border border-light">
                <div class="text-end">
                    <a class="btn btn-danger" id="btn-sair" href="{% url 'sair' %}" rel="noopener noreferrer">
                        <i class="bi bi-box-arrow-in-right me-1"></i>
                        Sair
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>