{% load static %}
<div class="mt-3">
    <span class="mt-4 fs-5">Informações do {{nome}}:</span> 
    <button type="button" onclick="abrir_pesquisa('{{nome}}')" class="btn btn-sm btn-primary">
        <i class="bi bi-search"></i> 
    </button>
    <div class="form-control m-auto">
        <div class="campos-pessoa" id="campos_{{nome}}">
            {% if prefix == 'pessoa1' %}
                {{ form_pessoa1 }}
            {% elif prefix == 'pessoa2' %}
                {{ form_pessoa2}}
            {% endif %}
        </div>
    
    </div>
</div>