{% extends "extends/cadastro_base.html" %}
{% load static %}

{% block title %}Procedimento Policial{% endblock %}
{% block nav_title %}Procedimento Policial{% endblock %}

{% block campos %}
    <div class="col-12 col-md-6 pb-5">
        <label class="fs-5 mt-3" for="nro_bop">Nº. do BOP:</label>
        
        <p style='color: red'> adicionar pesquisa do bop e renderizar dados do bop</p>
        <input required class="form-control" type="text" name="nro_bop" id="nro_bop" value='{{form_bopproc.nro_bop.value|default_if_none:''}}' mask="bop" maxlength="19" placeholder="xxxxx/xxxx.xxxxxx-x">

        <label class="fs-5 mt-3" for="nro_procedimento">Nº. Procedimento:</label>
        
        <input required class="form-control" type="text" name="nro_procedimento" id="nro_procedimento" value='{{form_bopproc.nro_procedimento.value|default_if_none:''}}' mask="bop" maxlength="19" placeholder="xxxxx/xxxx.xxxxxx-x"> 
        
        <label class="fs-5 mt-3" for="enquadramento">Enquadramento:</label>
        
        <input required class="form-control" type="text" name="enquadramento" id="enquadramento" value='{{form_procedimento.enquadramento.value|default_if_none:''}}'>
        
        <div class="row">
            <div class="col-12 mt-4">
                {% include 'includes/add_itens.html' with type='Envolvidos'%}
            </div>
        </div>
    {% include 'includes/operacao.html' %}
    {% include 'includes/pesquisa.html' %}
{% endblock %}